<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
    <li><a>Admin</a></li>
    <li class="is-active"><a>Users</a></li>
  </ul>
</nav>

<div class="level">
  <div class="level-left">
    <h1>Listing Users</h1>
  </div>

  <div class="level-right">
    <span><%= link "New User", to: Routes.admin_user_path(@conn, :new), class: "button is-rounded is-primary" %></span>
  </div>
</div>


<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td data-header="Name"><%= user.name %></td>
      <td data-header="Name"><%= user.email %></td>
      <td data-header="Created"><%= user.inserted_at %></td>

      <td class="has-text-right">
        <%= link "Show", to: Routes.admin_user_path(@conn, :show, user), class: "button is-rounded" %>
        <%#= link "Edit", to: Routes.admin_user_path(@conn, :edit, user), class: "button is-rounded is-info" %>
      </td>
    </tr>
<% end %>
<%= if Enum.empty?(@users) do %>
    <tr><td colspan="3">Empty here, add a user...</td></tr>
<% end %>
  </tbody>
</table>
