<div class="container">
  <div class="column is-4 is-offset-4 box">
    <h2 class="has-text-centered">Add new User</h2>

    <%= form_for @changeset, Routes.admin_user_path(@conn, :create), fn f -> %>
      <%= if @changeset.action do %>
        <div class="notification is-danger">
          <p>Please check the errors below.</p>
        </div>
      <% end %>

      <div class="field">
        <%= label f, "Full name", class: "label" %>
        <div class="control">
          <%= text_input f, :user_name, class: "input" %>
        </div>
        <%= error_tag f, :user_name %>
      </div>

      <div class="field">
        <%= label f, "E-mail address", class: "label" %>
        <div class="control">
          <%= text_input f, :user_email, class: "input" %>
        </div>
        <%= error_tag f, :user_email %>
      </div>

      <div class="field">
        <%= label f, :password, class: "label" %>
        <div class="control">
          <%= password_input f, :user_password, class: "input" %>
        </div>
        <%= error_tag f, :user_password %>
      </div>

      <hr />
      <div class="notification">
        Enter a name for your team even if you want to use Runhyve without other people.
      </div>

      <div class="field">
        <%= label f, "Team name", class: "label" %>
        <div class="control">
          <%= text_input f, :team_name, class: "input" %>
        </div>
        <%= error_tag f, :team_name %>
      </div>

      <div class="field">
        <%= label f, "Team namespace", class: "label" %>
        <div class="control">
          <%= text_input f, :team_namespace, class: "input", data_slugify: "registration[team_name]" %>
        </div>
        <%= error_tag f, :team_namespace %>
      </div>

      <div class="level">
        <div class="level-left">
          <%= submit "Add new user", class: "button is-rounded is-primary" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
