<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
    <li><%= link "Users", to: Routes.admin_user_path(@conn, :index) %></li>
    <li class="is-active"><a><%= @user.name %></a></li>
  </ul>
</nav>

<div class="level">
  <div class="level-left">
  </div>
  <div class="level-right">
    <span><%#= link "Edit", to: Routes.admin_user_path(@conn, :edit, @user), class: "button is-rounded is-info"%></span>
  </div>
</div>
<div class="box">
  <ul>
    <li>
      <strong>Full name:</strong>
      <%= @user.name %>
    </li>
    <li>
      <strong>Email:</strong>
      <%= @user.email %>
    </li>
  </ul>

  <h2><strong>Teams:</strong></h2>
  <ul>
  <%= for team <- @user.teams do %>
    <li><%= team.name %></li>
  <% end %>
  </ul>
</div>
