<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
    <li class="is-active"><a>My Profile</a></li>
  </ul>
</nav>
<h2>Show User</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
</ul>

<span><%= link "SSH Keys", to: Routes.ssh_public_key_path(@conn, :index) %></span> |
<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span> |
