<section class="hero is-medium">
  <div class="hero-body">
    <div class="container" align="center">
      <h1 class="title">
        <img src="./images/runhyve-logo-square.svg"/>
      </h1>
      <h2 class="subtitle">
        The Virtual Machines Manager for Bhyve
      </h2>
    </div>
  </div>
</section>
