<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Runhyve
      </h1>
      <h2 class="subtitle">
        Initial development is in progress.
      </h2>
    </div>
  </div>
</section>