<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Webapp · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
               Runhyve
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <%= link "Home", to: Routes.page_path(@conn, :index), class: "navbar-item" %>

              <%= if @current_user do %>
                <%= link "My Teams", to: Routes.user_path(@conn, :teams, @current_user), class: "navbar-item" %>
                <%= link "My Machines", to: team_path(:machine_path, @conn, :index), class: "navbar-item" %>

                  <%= if @current_user.role == "Administrator" do %>
                  <div class="navbar-item dropdown">
                    <div class="dropdown-trigger">
                      <button class="button is-rounded" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Admin</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>

                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <%= link "Plans", to: Routes.plan_path(@conn, :index), class: "dropdown-item" %>
                        <%= link "Hypervisors", to: Routes.hypervisor_path(@conn, :index), class: "dropdown-item" %>
                        <%= link "Machines", to: Routes.machine_path(@conn, :index), class: "navbar-item" %>
                        <%= link "Users", to: Routes.user_path(@conn, :index), class: "dropdown-item" %>
                        <%= link "Teams", to: Routes.team_path(@conn, :index), class: "dropdown-item" %>
                       </div>
                    </div>
                  </div>
                  <% end %>
              <% end %>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                <%= if @current_user do %>

                    <%= if @team do %>
                    <div class="dropdown">
                      <div class="dropdown-trigger">
                        <button class="button is-rounded is-info" aria-haspopup="true" aria-controls="dropdown-menu">
                          <span><%= @team.name %></span>
                          <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                      <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                      <%= for team <- @current_user.teams do %>
                            <%= link "#{team.name}", to: switch_team_path(@conn, team), class: "dropdown-item" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <% end %>

                    <%= link "Logout", to: Routes.session_path(@conn, :delete, current_session(@conn)), method: :delete, class: "button is-rounded is-primary" %>
                  <% else %>
                    <a href="<%= Routes.user_path(@conn, :new) %>" class="button is-rounded is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a href="<%= Routes.session_path(@conn, :new) %>" class="button is-rounded is-light">
                      Log in
                    </a>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </nav>

    <section id="main" class="section">
      <div class="container">
        <div id="notifications">
          <%= if info = get_flash(@conn, :info) do %>
            <div class="notification is-info" role="alert"> <button class="delete"></button><%= info %></div>
          <% end %>
          <%= if error = get_flash(@conn, :error) do %>
            <div class="notification is-danger" role="alert"> <button class="delete"></button><%= error %></div>
          <% end %>
        </div>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Runhyve</strong> made with <i class="has-text-danger fa fa-heart"></i> in Poland.
        </p>
        <p><%= version() %></p>
      </div>
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
