<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Webapp · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
               <img class="logo" src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <%= link "Home", to: Routes.page_path(@conn, :index), class: "navbar-item" %>
              <%= link "Plans", to: Routes.plan_path(@conn, :index), class: "navbar-item" %>
              <%= link "Hypervisors", to: Routes.hypervisor_path(@conn, :index), class: "navbar-item" %>
              <%= link "Networks", to: Routes.network_path(@conn, :index), class: "navbar-item" %>
              <%= link "Machines", to: Routes.machine_path(@conn, :index), class: "navbar-item" %>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-rounded is-primary is-disabled">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button is-rounded is-light is-disabled">
                    Log in
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </nav>

    <section id="main" class="section">
      <div class="container">
        <div id="notifications">
          <%= if info = get_flash(@conn, :info) do %>
            <div class="notification is-info" role="alert"> <button class="delete"></button><%= info %></div>
          <% end %>
          <%= if error = get_flash(@conn, :error) do %>
            <div class="notification is-danger" role="alert"> <button class="delete"></button><%= error %></div>
          <% end %>
        </div>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Runhyve</strong> made with <i class="has-text-danger fa fa-heart"></i> in Poland. <br /> Powered by <a href="https://runateam.com">Runateam.com</a>.
        </p>
      </div>
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
