.navbar {
  padding: 0.75rem 2rem;

  .navbar-item {
    padding: 0;
  }
}

.sidebar {
  background-color: #fff;
  padding: 3rem 1.5rem;
  transform: translateX(-250px);
  position: fixed;
  z-index: 400;
  width: 250px;
  height: calc(100% - #{$navbar-height});
  overflow-y: auto;
  transition: all 600ms ease;

  &.is-active {
    margin-left: 250px;
  }
  @media (min-width: 1008px) {
    transform: translateX(0px);
    &.is-active {
      margin-left: 0;
    }
  }
}

.main-content {
  padding: 3rem 1.5rem;
  flex: 1;
  .logged-in & {
    @media (min-width: 1008px) {
      margin-left: 250px;
    }
  }
}