body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1;
  display: flex;
}

.columns.is-stretched  {
  align-items: stretch;
  width: 100%;
  margin: 0;
}

.tabs a {
  &.is-disabled {
    opacity: .65;
    cursor: not-allowed;
  }
}

.navbar-item img {
  max-height: 3rem;
}

.radio-boxes {
  span {
    display: block;
  }

  label {
    display: block;

    &.box {
      height: 100%;
    }
  }

  input[type="radio"]:checked+label {
    background: #D0D1CD;
  }
}

.plans {
  display: block;
  background: url(../static/images/plans.png) 0 0 no-repeat;
  width: 100px;
  height: 100px;
  margin: 10px auto;

  width: 45px;
  height: 31px;
  background-position: -398px -185px;

  &.compsognathus {
    width: 45px;
    height: 31px;
    background-position: -398px -185px;
  }

  &.deinonychus {
    width: 120px;
    height: 52px;
    background-position: -234px -165px;
    left: 10px;
  }

  &.triceratops {
    width: 171px;
    height: 71px;
    background-position: -8px -138px;
    left: 20px;
  }


  &.tyrannosaurus {
    width: 163px;
    height: 95px;
    background-position: -292px -33px;
    left: 30px;
  }

  &.diplodocus {
    width: 252px;
    height: 108.9px;
    background-position: -1px -6px;
    background-size: 175%
  }

}

.distributions {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  background: url(../static/images/plans.png) no-repeat -400px -400px;

  &[class*="netbsd"] {
    width: 100px;
    height: 81px;
    background-position: 0px -217px;
  }

  &[class*="openbsd"] {
    width: 100px;
    height: 81px;
    background-position: -100px -217px;
  }

  &[class*="dragonflybsd"] {
    width: 100px;
    height: 81px;
    background-position: -200px -217px;
  }

  &[class*="void"] {
    width: 100px;
    height: 81px;
    background-position: -300px -217px;
  }

  &[class*="hardenedbsd"] {
    width: 100px;
    height: 81px;
    background-position: -400px -217px;
  }

  &[class*="openindiana"] {
    width: 100px;
    height: 81px;
    background-position: -400px -298px;
  }

  &[class*="freebsd"] {
    width: 100px;
    height: 81px;
    background-position: 0px -298px;
  }

  &[class*="slackware"] {
    width: 100px;
    height: 81px;
    background-position: -100px -298px;
  }

  &[class*="alpine"] {
    width: 100px;
    height: 81px;
    background-position: -200px -298px;
  }

  &[class*="minix"] {
    width: 100px;
    height: 81px;
    background-position: -300px -298px;
  }

  &[class*="nixos"] {
    width: 100px;
    height: 81px;
    background-position: 0px -379px;
  }

  &[class*="hurd"] {
    width: 100px;
    height: 81px;
    background-position: -100px -379px;
  }

  &[class*="ubuntu"] {
    width: 100px;
    height: 81px;
    background-position: -200px -379px;
  }

  &[class*="fedora"] {
    width: 100px;
    height: 84px;
    background-position: -300px -379px;
  }

  &[class*="debian"] {
    width: 100px;
    height: 84px;
    background-position: -400px -379px;
  }

  &[class*="centos"] {
    width: 100px;
    height: 84px;
    background-position: 0 -460px;
  }

  &--wrapper {
    &.is-small {
      width: 33px;
      height: 27px;
      display: inline-block;
      vertical-align: middle;

      & > .distributions {
        transform: scale(0.33);
        transform-origin: top;
        margin: 0 auto 0 -33px;
        position: absolute;
      }
    }

    &--name {
      display: inline-block;
    }
  }
}


#console-wrapper {
  #console {
    width: 100%;
    height: 400px;
    @include from($tablet) {
      height: 600px;
    }
  }


  #console-toggle {
    position: absolute;
    z-index: 50;
    top: 20px;
    right: 20px;
    @include from($tablet) {
      display: none;
    }
  }

  &.fullscreen {
    &:before {
      background: #2b2b2b;
      content: '';
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 30;
      top: 0;
      left: 0;
    }
    #console {
      position: fixed;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 49;
      height: 100%;
    }

    #console-toggle {
      position: fixed;
      top: 0;
    }
  }

}

.is-fullwidth {
  width: 100%;
}


.box {
  &.is-gapless {
    margin: 0;
  }
}