<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
    <li><%= link "Plans", to: Routes.plan_path(@conn, :index) %></li>
    <li><%= link @machine.name, to: Routes.machine_path(@conn, :show, @machine)  %></li>
    <li class="is-active"><a>Settings</a></li>
  </ul>
</nav>

<%= render "_menu.html", assigns %>

<%= render "form.html", Map.put(assigns, :action, Routes.machine_path(@conn, :update, @machine)) %>