<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
    <%= if @hypervisor do %>
    <li><%= link "Hypervisors", to: team_path(:admin_hypervisor_path, @conn, :index) %></li>
    <li><%= link @hypervisor.name, to: team_path(:admin_hypervisor_path, @conn, :show, @hypervisor)  %></li>
    <% end %>

    <li class="is-active"><a>Machines</a></li>
  </ul>
</nav>

<%= if @hypervisor do %>
  <%= render(WebappWeb.HypervisorView, "_menu.html",  Map.put(assigns, :hide_status, false)) %>
<% end %>

<div class="level">
  <div class="level-left">
    <h1>Listing Machines</h1>
  </div>

  <div class="level-right">
    <%= render WebappWeb.MachineView, "_new_button.html", assigns %>
  </div>
</div>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Distribution</th>
      <th>Region</th>
      <th>Plan</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for machine <- @machines do %>
    <tr data-machine-id="<%= machine.id %>">
      <td data-header="Name"><%= link machine.name, to: team_path(:machine_path, @conn, :show, machine) %></td>
      <td data-header="Status">
        <div class="tags has-addons">
          <span class="tag status status-icon <%= map_status_to_css(machine.last_status) %>"
            data-status="<%= map_status_to_css(machine.last_status) %>"><i
              class="<%= status_icon(machine.last_status) %>"></i></span>
          <span class="tag status <%= map_status_to_css(machine.last_status) %>"
            data-status="<%= map_status_to_css(machine.last_status) %>"><%= machine.last_status %></span>
        </div>
      </td>
      <td data-header="Distribution">
        <%= if machine.distribution do %>
          <span class="distributions--wrapper is-small">
            <span class="distributions distributions-<%= String.downcase(machine.distribution.name) %>"></span>
          </span>
          <span class="distributions--name">
            <%= machine.distribution.name %> <%= machine.distribution.version %>
          </span>
        <% end %>
      </td>
      <td data-header="Region"><%= machine.hypervisor.region.name %></td>
      <td data-header="Plan"><%= machine.plan.name %></td>
      <td data-header="Cost">$<%= machine.plan.price %>/mo</td>
      <td>
        <%= link(
          to: team_path(:machine_path, @conn, :console, machine),
          class: "button is-rounded is-small is-black #{action_css_class(machine, :console)}"
        ) do %>
          <span class="icon"><i class="fas fa-terminal"></i></span>
        <% end %>

        <%= link(
          to: team_path(:machine_path, @conn, :start, machine),
          method: :post,
          class: "button is-rounded is-small is-success #{action_css_class(machine, :start)}"
        ) do %>
          <span class="icon"><i class="fas fa-lg fa-play-circle"></i></span>
        <% end %>

        <%= link(
          to: team_path(:machine_path, @conn, :restart, machine),
          method: :post,
          data: [confirm: "Do you really want to restart the #{machine.name} machine?"],
          class: "button is-rounded is-small is-info #{action_css_class(machine, :restart)}"
        ) do %>
          <span class="icon"><i class="fas fa-lg fa-sync"></i></span>
        <% end %>

        <%= link(
          to: team_path(:machine_path, @conn, :stop, machine),
          method: :post,
          data: [confirm: "Do you really want to stop the #{machine.name} machine?"],
          class: "button is-rounded is-small is-danger #{action_css_class(machine, :stop)}"
        ) do %>
          <span class="icon"><i class="fas fa-lg fa-stop-circle"></i></span>
        <% end %>
      </td>
    </tr>
    <% end %>
    <%= if Enum.empty?(@hypervisors) do %>
    <%= if @current_user.role == "Administrator" do %>
    <tr>
      <td colspan="3">No hypervisors available. You should
        <%= link "add one", to: Routes.admin_hypervisor_path(@conn, :new) %> first</td>
    </tr>
    <% else %>
    <tr>
      <td colspan="3">No hypervisors available. Administrator should add one first.</td>
    </tr>
    <% end %>
    <% else %>
    <%= if Enum.empty?(@machines) do %>
    <tr>
      <td colspan="3">Empty here, add a machine...</td>
    </tr>
    <% else %>
    <tr>
      <td colspan="5"></td>
      <td class="has-text-weight-bold has-text-right">Total:</td>
      <td>$<%= Enum.reduce(@machines, 0, fn(v, acc) -> v.plan.price + acc end) %>/mo</td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var team = {
    id: <%= @current_team.id %>
  }
</script>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/team.js") %>"></script>
