<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link "Home", to: Routes.page_path(@conn, :index) %></li>
    <%= if @hypervisor do %>
      <li><%= link "Hypervisors", to: team_path(:admin_hypervisor_path, @conn, :index) %></li>
      <li><%= link @hypervisor.name, to: team_path(:admin_hypervisor_path, @conn, :show, @hypervisor)  %></li>
    <% end %>

    <li class="is-active"><a>Machines</a></li>
  </ul>
</nav>

<%= if @hypervisor do %>
  <%= render WebappWeb.HypervisorView, "_menu.html",  Map.put(assigns, :hide_status, false) %>
<% end %>

<div class="level">
  <div class="level-left">
    <h1>Listing Machines</h1>
  </div>

  <div class="level-right">
    <%= render WebappWeb.MachineView, "_new_button.html", assigns %>
  </div>
</div>

<table class="table container is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Distribution</th>
      <th>Hypervisor</th>
      <th>Plan</th>
      <th>Networks</th>
    </tr>
  </thead>
  <tbody>
<%= for machine <- @machines do %>
    <tr>
      <td><%= link machine.name, to: team_path(:machine_path, @conn, :show, machine) %></td>
      <td>
        <div class="tags has-addons">
          <span class="tag status status-icon <%= map_status_to_css(machine.last_status) %>" data-status="<%= map_status_to_css(machine.last_status) %>"><i class="<%= status_icon(machine.last_status) %>"></i></span>
          <span class="tag status <%= map_status_to_css(machine.last_status) %>" data-status="<%= map_status_to_css(machine.last_status) %>"><%= machine.last_status %></span>
        </div>
      </td>
      <td><%= machine.distribution.name %> <%= machine.distribution.version %></td>
      <td><%= link machine.hypervisor.name, to: Routes.admin_hypervisor_path(@conn, :show, machine.hypervisor) %></td>
      <td><%= link machine.plan.name, to: Routes.admin_plan_path(@conn, :show, machine.plan) %></td>

      <td><ul>
        <%= for network <- machine.networks do %>
           <li><%= link "#{network.name} (#{network.network})", to: Routes.admin_network_path(@conn, :show, network) %></li>
        <% end %>
      </ul></td>
    </tr>
<% end %>
<%= if Enum.empty?(@machines) do %>
    <tr><td colspan="3">Empty here, add a machine...</td></tr>
<% end %>
  </tbody>
</table>
