<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link "Home", to: team_path(:page_path, @conn, :index) %></li>
    <li><%= link "My Machines", to: team_path(:machine_path, @conn, :index) %></li>
    <li class="is-active"><a>New Machine</a></li>
  </ul>
</nav>

<div class="level">
  <div class="level-left">
    <h1>New Machine</h1>
  </div>

  <div class="level-right">
    <span>
      <%= link "Back",
            to: team_path(:machine_path, @conn, :index),
            class: "button is-rounded" %>
    </span>
  </div>
</div>

<div class="box">
  <%= form_for @changeset, team_path(:machine_path, @conn, :create, @hypervisor), [class: "phx-form-html"], fn f -> %>
    <%= if @changeset.action do %>
      <div class="notification is-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div class="field">
      <%= label f, "Region", class: "label" %>
      <%= hidden_input f, :hypervisor_id, value: @hypervisor.id %>
      <div class="item">
        <%= @hypervisor.region.name %>
        <!-- <%= @hypervisor.name  %> -->
      </div>
      <%= error_tag f, :hypervisor_id %>
    </div>

    <div class="field">
      <%= label f, :name, class: "label" %>
      <div class="control">
        <%= text_input f, :name, class: "input" %>
      </div>
      <%= error_tag f, :name %>
    </div>

    <div class="field">
      <%= label f, :plan_id, class: "label" %>
      <div class="columns is-multiline is-centered is-stretched radio-boxes">

        <%= for plan <- @plans do %>

          <div class="column">
            <%= radio_button(f, :plan_id, plan.id, id: "plan-#{plan.id}", class: "is-hidden") %>

            <label class="box" for="plan-<%= plan.id %>">
              <span class="card-image">
                <span class="plans <%= String.downcase(plan.name) %>" />
              </span>
              <span class="title is-5 has-text-centered">
                <%= plan.name %>
              </span>

              <span class="details">
                <span>
                  <strong>Storage:</strong>
                  <%= plan.storage %> GB
                </span>

                <span>
                  <strong>Memory:</strong>
                  <%= plan.ram %> MB
                </span>

                <span>
                  <strong>vCPUs:</strong>
                  <%= plan.cpu %>
                </span>

                <span>
                  <strong>Price:</strong>
                  $<%= plan.price %> / mo
                </span>
              </span>
            </label>
          </div>

        <% end %>
      </div>
    <%= error_tag f, :plan_id %>
    </div>

    <div class="field">
      <%= label f, :distribution_id, class: "label" %>
      <div class="columns radio-boxes">
        <%= for distribution <- @distributions do %>

          <div class="column">
            <%= radio_button(f, :distribution_id, distribution.id, id: "template-#{String.downcase(distribution.name)}-#{distribution.version}", class: "is-hidden") %>

            <label class="box" for="template-<%= String.downcase(distribution.name) %>-<%= distribution.version %>">
              <span class="card-image">
                <span class="distributions distributions-<%= String.downcase(distribution.name) %>" />
              </span>
              <span class="title is-5 has-text-centered">
                <%= distribution.name %> <%= distribution.version %>
              </span>
            </label>
          </div>

        <% end %>
      </div>

      <%= error_tag f, :distribution_id %>
    </div>

    <div class="field">
      <%= label f, :ssh_public_key_id, class: "label" %>
      <div class="select">
        <%= select f, :ssh_public_key_id, ssh_public_keys_select_options(@current_user.ssh_public_keys), prompt: "Select SSH key" %>
      </div>
      <%= error_tag f, :ssh_public_key_id %>
    </div>

    <%= if @current_user.role == "Administrator" do %>
      <div class="field">
    <% else %>
      <div class="field is-hidden">
    <% end %>

      <%= label f, :network, class: "label" %>
      <div class="select">
        <%= select f, :network_ids, networks_select_options(@networks) %>
      </div>
      <%= error_tag f, :networks %>
    </div>



    <%= if @current_user.role == "Administrator" do %>
    <div class="field">
      <%= label f, :owner, class: "label" %>
      <div class="select">
        <%= select f, :team_id, team_select_options(@teams), prompt: "Select team", selected: @current_team.id %>
      </div>
      <%= error_tag f, :team_id %>
    </div>
    <% else %>
      <div class="field is-hidden">
        <%= label f, :owner, class: "label" %>
        <%= hidden_input f, :team_id, value: @current_team.id %>
        <div class="item">
          <%= @current_team.name %>
        </div>
        <%= error_tag f, :hypervisor_id %>
      </div>
    <% end %>

    <div class="field">
      <div class="control">
        <%= submit "Save", class: "button is-rounded is-primary", "phx-disable-with": "Saving..." %>
      </div>
    </div>
  <% end %>
</div>
