<header class="sticky bg-white top-0 px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4 min-h-16">
      <a href="/">
        <img src={~p"/images/runhyve-logo.svg"}  />
      </a>
    </div>
    <div class="flex items-center gap-4 font-semibold leading-6">
    <%= if @current_user do %>
      <a
        href={~p"/"}
        class="rounded-full bg-runhyve-green p-2 px-5 hover:bg-runhyve-green/50">
        <span aria-hidden="true">&larr;</span> Go back to the APP
      </a>
      <% end %>
    </div>
  </div>
</header>

<main class="flex grow">
  <div class="px-4 py-20 sm:px-6 lg:px-8 mx-auto max-w-2xl order-2">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>

  <aside :if={@current_user} class="overflow-y-auto max-h-vh w-64 morder-1 bg-white px-4 sm:px-6 lg:px-8">

    <.link href={~p"/users/settings"} class="block mt-4 text-runhyve-blue hover:text-runhyve-blue/50">
      Settings
    </.link>
    <.link href={~p"/users/teams"} class="block mt-4 text-runhyve-blue hover:text-runhyve-blue/50">
      My teams
    </.link>
    <.link href={~p"/users/keys"} class="block mt-4 text-runhyve-blue hover:text-runhyve-blue/50">
      Manage SSH Keys
    </.link>
  </aside>
</main>

<footer class="bg-white text-center lg:text-left">
  <div class="p-4 text-center text-surface">
    Powered by <strong><a href="https://runhyve.app" class="text-runhyve-orange">Runhyve</a></strong>
      <p class="bg-runhyve-blue/5 text-runhyve-blue inline rounded-full px-2 font-medium leading-6">
        {Application.spec(:webapp, :vsn)}-{Mix.Project.config()[:vcs_version]}
      </p>
  </div>

  <div class="pb-4 text-xs text-zinc-500 text-center">
    <p>
          Made with <.icon name="hero-heart-solid" class="h-5 w-5 bg-red-500"  /> in Poland.
    </p>
  </div>
</footer>
